<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <title>Title</title>
  <link rel="stylesheet" href="/public/style.css" type="text/css">

</head>

